
@{
    ViewBag.Title = "Movie Management";
}

<h2>Movie Management using React</h2>

<div id="app"/>


@section scripts
{
@*<script src="/Dist/React/movie-management.js"></script>*@
    @Scripts.Render("~/Dist/React/movie-management.js")
}
