<p>
    <button class="btn btn-toolbar"
            ng-click="ctrl.addMovie()">
        Add movie
    </button>
</p>

<table class="table table-bordered table-striped table-condensed">
    <tr>
        <th>Title</th>
        <th>Director</th>
        <th></th>
    </tr>
    <tr ng-repeat="movie in ctrl.movies">
        <td>{{movie.title}}</td>
        <td>{{movie.director}}</td>
        <td style="width: 1px;">
            <button class="btn btn-default"
                    ng-click="ctrl.movieDetails(movie)">
                Details
            </button>
        </td>
    </tr>
</table>

