
<form>
    <div ng-controller="movie-title-controller">
        <button class="btn btn-xs btn-default btn-edit pull-right" ng-show="readonly" ng-click="readonly=false;">Edit</button>
        <button class="btn btn-xs btn-default pull-right" ng-show="!readonly" ng-click="readonly=true;">Cancel</button>
        <button class="btn btn-xs btn-default pull-right" ng-show="!readonly" ng-click="save()">Save</button>

        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title"
                   ng-model="ctrl.movie.title"
                   ng-model-options="{ updateOn: 'blur' }"
                   ng-disabled="readonly">
        </div>
    </div>

    <div ng-controller="movie-description-controller">
        <button class="btn btn-xs btn-default btn-edit pull-right" ng-show="readonly" ng-click="readonly=false;">Edit</button>
        <button class="btn btn-xs btn-default pull-right" ng-show="!readonly" ng-click="readonly=true;">Cancel</button>
        <button class="btn btn-xs btn-default pull-right" ng-show="!readonly" ng-click="save()">Save</button>

        <div class="form-group">
            <label for="title">Synopsis</label>
            <input type="text" class="form-control" id="title" ng-model="ctrl.movie.synopsis" ng-disabled="readonly">
        </div>

        <div class="form-group">
            <label for="title">CriticsConsensus</label>
            <input type="text" class="form-control" id="Yeartitle" ng-model="ctrl.movie.criticsConsensus" ng-disabled="readonly">
        </div>

        <div class="form-group">
            <label for="title">Year</label>
            <input type="text" class="form-control" id="title" ng-model="ctrl.movie.year" ng-disabled="readonly">
        </div>
    </div>

    <div class="form-group">
        <label for="title">Directors</label>
        <button class="btn btn-default">Add</button>
        <div ng-repeat="director in ctrl.movie.abridgedDirectors">
            <input type="text" class="form-control" id="title" ng-model="director.name">
        </div>
    </div>


    <div class="form-group">
        <label for="title">MpaaRating</label>
        <input type="text" class="form-control" id="title" ng-model="ctrl.movie.mpaaRating">
    </div>

    <div class="form-group">
        <label for="title">CriticsScore</label>
        <input type="text" class="form-control" id="title" ng-model="ctrl.movie.criticsScore">
    </div>

    <div class="form-group">
        <label for="title">AudienceScore</label>
        <input type="text" class="form-control" id="title" ng-model="ctrl.movie.audienceScore">
    </div>



    <div class="form-group">
        <label for="title">Genres</label>
        <input type="text" class="form-control" id="title" ng-model="ctrl.movie.Genres">
    </div>

    <div class="form-group">
        <label for="title">Posters</label>
        <input type="text" class="form-control" id="title" ng-model="ctrl.movie.Posters">
    </div>

    <div class="form-group">
        <label for="title">AbridgedCast</label>
        <input type="text" class="form-control" id="title" ng-model="ctrl.movie.AbridgedCast">
    </div>



</form>